@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --background: #576fd0;
  --foreground: #c79a9a;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container{
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;  
}
.titleName{
  font-family: 'Inter', sans-serif;
  color: #d9d6be;
  letter-spacing: -0.1rem;
  width: 100%;
  font-size: 5.5em;
  line-height: 1;
  font-weight: 800;
  text-shadow: 0rem 0.335rem 0rem rgba(0, 0, 0, 0.128);
}


